<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <script src="/js/index.js"></script>
    <title>{{title}}</title>
</head>

<body>
    <div class="b-container bg-2">
       <div class="fake-div"></div>
       <div id="menu" class="b-header bg-5">
           <div class="b-header__controls">
                <div id="btn-menu" class="b-header__icon"></div>
                <div class="b-header__logo">
                    <a href="/"><h2 class="b-header__title">App Schedule</h2></a>
                </div>
            </div>
            <div class="b-header__links">
                <a class="b-header__link" href="/schedule">Schedule</a>
                <a class="b-header__link" href="/todos">Todos</a>
                <a class="b-header__link" href="/meetings">Meets</a>
                <a class="b-header__link" href="/users/user/{{user.id}}">{{user.name}}</a>
                <form class="b-header__form" action="/auth/logout" method="POST">
                    <button class="b-header__button" type="submit">Out</button>
                </form>
            </div>
        </div>
        <div class="b-schedule">
            <h2 class="b-schedule__link">Reunión</h2>
            <div class="b-schedule__cards">
                <ul class="b-card bg-3">
                    <a class="b-card__container">
                        <div class="b-card__heading">
                            <li class="b-card__title">{{meet.name}}</li>
                            {{#if meet.done}}<li class="b-card__check">Sí</li>{{/if}}
                            {{#if meet.done}} {{else}}<li class="b-card__check">No</li>{{/if}}
                        </div>
                        <div class="b-card__block">
                            <li class="b-card__date">{{meet.date}}</li>
                            <li class="b-card__text">{{meet.message}}</li>
                        </div>
                    </a>
                </ul>
                <div class="b-schedule__buttons">
                    <form class="b-schedule__form" action="delete/{{meet.id}}?_method=DELETE" method="POST"><button type="submit" class="b-button">Borrar</button></form>
                    <a href="/meetings/edit/{{meet.id}}" class="b-button b-schedule__button">Editar</a>
                </div>
            </div>
        </div>
        <div class="b-footer">
            <p class="b-footer__text">All rights reserved</p>
        </div>
    </div>
</body>
</html>