<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <h1>Agenda App</h1>

    <a href="/">Inicio</a>

    <form action="/schedule/add?_method=PUT" method="POST">
        <button type="submit">Actualizar Agenda</button>
    </form>

    <a href="/todo"><h2>Tareas</h2></a>
    <div>
        {{#each scheduleContain.todo}}
            <ul>
                <li>{{this.name}}</li>
                <li>{{this.date}}</li>
                <li>{{this.message}}</li>
                <li>{{this.done}}</li>
            </ul>
            <hr>
        {{/each}} 
    </div>

    
    <a href="/meeting"><h2>Reuniones</h2></a>
    <div>
        {{#each scheduleContain.meeting}}
            <ul>
                <li>{{this.name}}</li>
                <li>{{this.date}}</li>
                <li>{{this.message}}</li>
                <li>{{this.done}}</li>
            </ul>
            <hr>
        {{/each}} 
    </div>
    
</body>
</html>