<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <script src="/js/index.js"></script>
    <script src="https://kit.fontawesome.com/0f65edafbd.js" crossorigin="anonymous"></script>
    <title>{{title}}</title>
</head>

<body>
    <div class="b-container bg-2">
       <div class="fake-div"></div>
       <div id="menu" class="b-header bg-5">
           <div class="b-header__controls">
                <div id="btn-menu" class="fas fa-bars b-header__icon"></div>
                <div class="b-header__logo">
                    <a href="/"><h2 class="b-header__title">App Schedule</h2></a>
                </div>
            </div>
            <div class="b-header__links">
                <a class="b-header__link" href="/schedule/{{user.id}}">Schedule</a>
                <a class="b-header__link" href="/todos/{{user.id}}">Todos</a>
                <a class="b-header__link" href="/meetings/{{user.id}}">Meets</a>
                <a class="b-header__link" href="/users/user/{{user.id}}">{{user.name}}</a>
                <form class="b-header__form" action="/auth/logout" method="POST">
                    <button class="b-header__button" type="submit"><i class="fas fa-user-alt-slash"></i></button>
                </form>
            </div>
        </div>
        <form class="b-controls" action="/todos" method="GET">
            <div class="b-form__inputBox b-controls__input"><input id="filter" class="b-form__input" type="text" name="filter" placeholder="Filter"/></div>
              <div class="b-form__inputBox b-controls__button"><input id="search" class="b-form__input b-button" type="submit" value="Buscar"></div>
        </form>
        <div class="b-schedule">
            <div class="b-schedule__controls">
                <h2 class="b-schedule__link">Tareas</h2>
                <a class="b-schedule__new" href="/todos/create/{{user.id}}"><i class="fas fa-plus-circle"></i>Nueva tarea</a>    
            </div>
            <div class="b-schedule__cards">
                {{#each listaTodos}}
                    <ul class="b-card bg-3">
                        <a class="b-card__container" href="/todos/todo/{{this.id}}">
                            <div class="b-card__heading">
                                <div class="b-card__titleContain"><li class="b-card__title">{{this.name}}</li></div>
                                {{#if this.done}}<div class="b-card__checkContain"><li class="b-card__check">Sí</li></div>{{/if}}
                                {{#if this.done}} {{else}}<div class="b-card__checkContain"><li class="b-card__check">No</li></div>{{/if}}
                            </div>
                            <div class="b-card__block">
                                <li class="b-card__date">{{this.date}}</li>
                                <li class="b-card__text">{{this.message}}</li>
                            </div>
                        </a>
                    </ul>
                {{/each}} 
            </div>
        </div>
        <div class="b-footer">
            <p class="b-footer__text">All rights reserved</p>
        </div>
    </div>
</body>
</html>