<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/js/index.js"></script>
    <title>{{ title }}</title>
</head>
<body>
    
   <h1>{{title}}</h1>
    <h2>{{message}}</h2>

    {{#if isAuth}}
        <form action="/auth/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
        <h3>Bienvenido, {{user.name}}</h3>
        <a href="/schedule">Agenda</a>
    {{/if}}

    {{#if isAuth}}
    {{else}}
        <a href="/auth/register">Registro</a>
        <a href="/auth/login">Login</a>
    {{/if}}
    
</body>
</html>